*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(31, 31, 31);
}

.container{
    height: 400px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 500px;
}

.logo{
    width: 256px;
    height: 198px;
    background: url(img/logo_SM.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -10px;
    filter: drop-shadow(0px 5px 10px #ff0000);
    animation: rotar 7s linear infinite;
}

.logo:hover{
    cursor: pointer;
}

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(-360deg);
    }
}

.bottom_part{
    width: 20rem;
    height: 20rem;
    position: absolute;
    bottom: -94px;
    background: #242424;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px 10px #11111136;
    transform: rotateX(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_part::before{
    content: "";
    width: 16rem;
    height: 16rem;
    position: absolute;
    bottom: 5rem;
    background: #ff0000;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px 10px #11111136;
    filter: blur(30px);
    animation: Animate 1s linear infinite;
}

@keyframes Animate {
    from{
        width: 16rem;
        height: 16rem;
    }
    50%{
        width: 12rem;
        height: 12rem;
    }
    to{
        width: 16rem;
        height: 16rem;
    }
}
